<!DOCTYPE html>

    <head> 
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sean's Website</title>
        <link rel="stylesheet"
        href="https://cdnjs.clourflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha-256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

        <!-- CSS file -->
        <link rel="stylesheet" href="../css/style.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,900|Source+Sans+Pro:300,900&display=swap">

    </head>



    <body>
        <header>
            <div class="logo">
                <img src="../resources/candlestick_logo_blue.png" alt="Logo">
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="index.html#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="index.html#about" class="nav__link">About Me</a></li>
                    <li class="nav__item"><a href="index.html#work" class="nav__link">Projects</a></li>
                </ul>
            </nav>
        </header>

        <!-- Title -->
        <p class="project__title"><strong>Relative Valuation Model Generator</strong></p>
        <!-- Cover image and description -->
        <div class="project__info">
            <img src="../resources/relval_cover_photo.png" alt="Relative Valuation Cover Photo">
            <!--<iframe src="https://trinket.io/embed/python/d5c18bd1a0?outputOnly=true&runOption=console" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe> -->
            <p>The Relative Valuation Model Generator allows users to compare companies on the basis of their financials. More specifically, this software gathers data from income statements, balance sheets, and cash flow statements over the last 4 years. It will gather the data of up to 7 companies and plot up to 5 statstics. Both the raw data as well as the derivatives of the data are plotted in order to allow the comparison of growth rates over time. Below are a few examples of the output of the Relative Valuation Model Generator comparing companies in the same sector. This program was written in Python using the following APIs: pandas, yfinance, matplotlib, PySimpleGUI, PyQt5. </p>
        </div>
        <!-- More images -->
        <div class="project__images">
            <div class="project__image">
                <p class="project__image--title">NVDA vs AMD vs INTC</p>
                <img src="../resources/relval_image1.png" alt="Relative Valuation Image">
            </div>
            <div class="project__image">
                <p class="project__image--title">PYPL vs V vs SQ</p>
                <img src="../resources/relval_image3.png" alt="Relative Valuation Image">
            </div>
            <div class="project__image">
                <p class="project__image--title">MSFT vs GOOG vs AAPL vs IBM</p>
                <img src="../resources/relval_image2.png" alt="Relative Valuation Image">
            </div>
        </div>
        <!-- Links -->
        <div class="project__link">
            <a href="https://github.com/sean-balks/RelValModel" class="btn">See it on GitHub!</a>
            <a href="/runGenerator" class="btn">Run it Now</a>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <a href="mailto:sb7671@nyu.edu" class="footer__link">sb7671@nyu.edu</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.instagram.com/sean.balks/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/seanbalakhanei/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/sean-balks">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://ethereum.org/en/">
                        <i class="fab fa-ethereum"></i>
                    </a>
                </li>
            </ul>
        </footer>

        <script src="../js/index.js"></script>
    </body>
</html>